{% extends 'base.html' %}
{% load static %}
{% csrf_token %}

{% block title %}
My patients
{% endblock %}

{% block additionalLinks %}
<link href="https://cdn.jsdelivr.net/npm/fullcalendar@5.11.3/main.min.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.11.3/main.min.js"></script>
<style>
    .selected-day {
        background-color: green !important;
    }

    #centralModal {
        z-index: 1000;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        gap: 2em;
    }
    

    .modalTable {
        flex-direction: column;
        border-radius: 10px;
        gap: .5em;
        padding: 5em;
        background-color: var(--secondary-color-light);
    }
</style>
{% endblock %}

{% block content %}
<div id="calendar"></div>

<div id="centralModal">
    <div id="reunionModal" style="display:none;" class="modalTable">
        <label for="reunionTitle">Reunion Title:</label>
        <input type="text" id="reunionTitle" name="reunionTitle">
        <label for="reunionStartTime">Start Time:</label>
        <input type="time" id="reunionStartTime" name="reunionStartTime">
        <label for="reunionDescription">Description:</label>
        <input type="text" id="reunionDescription" name="reunionDescription">
        <label for="reunionUrl">Url (optional):</label>
        <input type="text" id="reunionUrl" name="reunionUrl">
        <button id="saveReunion">Save Reunion</button>
    <button id="cancelReunion">Cancel</button>
    </div>

    <div id="editReunionModal" style="display:none;" class="modalTable">
        <label for="editReunionTitle">Reunion Title:</label>
        <input type="text" id="editReunionTitle" name="editReunionTitle" disabled>
        <label for="editReunionStartTime">Start Time:</label>
        <input type="time" id="editReunionStartTime" name="editReunionStartTime">
        <label for="editReunionDescription">Description:</label>
        <input type="text" id="editReunionDescription" name="editReunionDescription">
        <label for="editReunionUrl">Url:</label>
        <input type="text" id="editReunionUrl" name="editReunionUrl">
        <button id="updateReunion">Update Reunion</button>
        <button id="deleteReunion">Delete Reunion</button>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        function getCSRFToken() {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                const cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim();
                    if (cookie.substring(0, 10) === 'csrftoken=') {
                        cookieValue = decodeURIComponent(cookie.substring(10));
                        break;
                    }
                }
            }
            return cookieValue;
        }

        var calendarEl = document.getElementById('calendar');
        var selectedDayEl = null;
        var calendar = new FullCalendar.Calendar(calendarEl, {
            initialView: 'dayGridMonth',
            events: [
                {% for reunion in reunions %}
                {
                title: "{{ reunion.title }}",
                start: "{{ reunion.start|date:'Y-m-d\TH:i:s' }}",
                description: "{{ reunion.description }}",
                url: "{{ reunion.url }}"
                },
                {% endfor %}
            ],
        dateClick: function (info) {
            if (selectedDayEl) {
                selectedDayEl.classList.remove('selected-day');
            }
            selectedDayEl = info.dayEl;
            selectedDayEl.classList.add('selected-day');

            var reunionModal = document.getElementById('reunionModal');
            reunionModal.style.display = 'flex';
            document.getElementById('saveReunion').onclick = function () {
                var reunionTitle = document.getElementById('reunionTitle').value;
                var reunionStartTime = document.getElementById('reunionStartTime').value;
                var reunionDesctiption = document.getElementById('reunionDescription').value;
                var reunionUrl = document.getElementById('reunionUrl').value;
                if (reunionTitle && reunionStartTime) {
                    var reunionStartDateTime = info.dateStr + 'T' + reunionStartTime;

                    var url = `/add-reunion/${encodeURIComponent(reunionTitle)};${encodeURIComponent(reunionStartDateTime)};${encodeURIComponent(reunionDesctiption)};${encodeURIComponent(reunionUrl)}`;

                    fetch(url, {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                            'X-CSRFToken': getCSRFToken()
                        }
                    }).then(response => {
                        if (response.ok) {
                            calendar.addEvent({
                                title: reunionTitle,
                                start: reunionStartDateTime,
                                description: reunionDesctiption,
                                url: reunionUrl
                            });
                            reunionModal.style.display = 'none';
                        } else {
                            console.error('Error al guardar el evento.');
                        }
                    }).catch(error => {
                        console.error('Error de conexión:', error);
                    });
                }

            };
            document.getElementById('cancelReunion').onclick = function () {
                var reunionModal = document.getElementById('reunionModal');
                reunionModal.style.display = 'none';
                if (selectedDayEl) {
                    selectedDayEl.classList.remove('selected-day');
                    selectedDayEl = null;
                }
            };
        },
        eventClick: function (info) {
            info.jsEvent.preventDefault();

            var editReunionModal = document.getElementById('editReunionModal');
            document.getElementById('editReunionTitle').value = info.event.title;
            document.getElementById('editReunionStartTime').value = info.event.start.toISOString().substring(11, 16);
            document.getElementById('editReunionDescription').value = info.event.extendedProps.description || '';
            document.getElementById('editReunionUrl').value = info.event.extendedProps.url || '';
            editReunionModal.style.display = 'flex';

            document.getElementById('updateReunion').onclick = function () {
                var newTitle = document.getElementById('editReunionTitle').value;
                var newStartTime = document.getElementById('editReunionStartTime').value;
                var newDescription = document.getElementById('editReunionDescription').value;
                var newUrl = document.getElementById('editReunionUrl').value;
                var newStartDateTime = info.event.start.toISOString().substring(0, 10) + 'T' + newStartTime;

                if (newTitle && newStartTime && newDescription && newUrl) {
                    var url = `/update-reunion/${encodeURIComponent(newTitle)};${encodeURIComponent(newStartDateTime)};${encodeURIComponent(newDescription)};${encodeURIComponent(newUrl)}`;

                    fetch(url, {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                            'X-CSRFToken': getCSRFToken()
                        }
                    }).then(response => {
                        if (response.ok) {
                            info.event.setProp('title', newTitle);
                            info.event.setStart('start', newStartDateTime);
                            info.event.setExtendedProp('description', newDescription);
                            info.event.setExtendedProp('url', newUrl);
                            editReunionModal.style.display = 'none';
                        } else {
                            console.error('Error al actualizar el evento.');
                        }
                    }).catch(error => {
                        console.error('Error de conexión:', error);
                    });
                }
            };

            document.getElementById('deleteReunion').onclick = function () {
                var newTitle = document.getElementById('editReunionTitle').value;
                var url = `/delete-reunion/${encodeURIComponent(newTitle)}`;
                fetch(url, {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        'X-CSRFToken': getCSRFToken()
                    }
                }).then(response => {
                    if (response.ok) {
                        info.event.remove();
                        editReunionModal.style.display = 'none';
                    } else {
                        console.error('Error al eliminar el evento.');
                    }
                }).catch(error => {
                    console.error('Error de conexión:', error);
                });
            };
        }
        });
    calendar.render();
    });
</script>
{% endblock %}