{% extends 'base.html' %}
{% load static %}

{% block title %}
    My patients
{% endblock %}

{% block additionalLinks %}
<link href="https://cdn.jsdelivr.net/npm/fullcalendar@5.11.3/main.min.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.11.3/main.min.js"></script>
{% endblock %}

{% block content %}
<div id="calendar"></div>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        var calendarEl = document.getElementById('calendar');
        var calendar = new FullCalendar.Calendar(calendarEl, {
            initialView: 'dayGridMonth',
            events: [
                {% for reunion in reunions %}
                {
                    title: "{{ reunion.title }}",
                    start: "{{ reunion.date|date:'Y-m-dTH:i:s' }}",
                    url: "{{ reunion.url }}"
                },
                {% endfor %}
            ]
        });
        calendar.render();
    });
</script>
{% endblock %}