{% extends 'base.html' %}
{% load static %}

{% block title %}
Your dashboard
{% endblock %}

{% block additionalLinks %}
<link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
<link rel="stylesheet" href="{% static 'css/widgets/current_weather_widget.css' %}">
<link rel="stylesheet" href="{% static 'css/widgets/forecast_weather_widget.css' %}">
{% endblock %}

{% block content %}
<div class="dashboard-wrapper">
    <div id="patient-info">
        <h2>Patient: {{patient.name}}, Age: {{patient.age}}</h2>
    </div>
    <div id="dashboard-content" class="{% if not dashboards %}empty{% endif %}">
        {% if dashboards %}
            <!-- INSERT DASHBOARDSS -->
            {% for dashboard in dashboards %}
                {% if dashboard.type == "weather_current" %}
                    {% include "widgets/current_weather_widget.html" with data=dashboard.data %}
                {% elif dashboard.type == "weather_forecast" %}
                    {% include "widgets/forecast_weather_widget.html" with data=dashboard.data %}
                {% else %}
                <div class="grid-item">
                    
                </div>
                {% endif %}
            {% endfor %}
        {% else %}
            <div class="grid-item empty">
                <h2>
                    Dashboard could not load
                </h2>
            </div>
        {% endif %}
    </div>
</div>
{% endblock %}