{% extends 'base.html' %}
{% load static %}

{% block title %}
Your dashboard
{% endblock %}

{% block additionalLinks %}
<link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
{% endblock %}

{% block content %}
<div class="dashboard-wrapper">
    <div id="patient-info">
        <h2>Patient: {{patient.name}}, Age: {{patient.age}}</h2>
    </div>
    <div id="dashboard-content" class="{% if not dashboards %}empty{% endif %}">
        {% if dashboards %}
            <!-- INSERT DASHBOARDSS -->
        {% else %}
        <div class="grid-item empty">
            <h2>
                Dashboard could not load
            </h2>
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}