{% extends 'base.html' %}

{% load static %}

{% block title %}
    Welcome to Care4U Hub
{% endblock %}

{% block additionalLinks %}
<link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock %}

{% block content %}
<div class="hero-section">
    <div class="hero-text">
        <h1>Your Loved Ones’ Safety, Well-Being, and Connection—All in One Smart Solution</h1>
        <p>An innovative IoT system designed to protect, monitor, and connect seniors living independently, ensuring they thrive with confidence and care.</p>
        <a href="#features" class="cta-button">Learn More</a>
    </div>
</div>

<section id="features" class="features-section">
    <h2>What We Offer</h2>
    <div class="features-list">
        <div class="feature-card">
            <h3>Fall Detection</h3>
            <p>Automatically detects falls and sends instant alerts to emergency services and family members.</p>
        </div>
        <div class="feature-card">
            <h3>Activity Monitoring</h3>
            <p>Tracks daily routines and detects anomalies to ensure your loved ones' well-being.</p>
        </div>
        <div class="feature-card">
            <h3>Stay Connected</h3>
            <p>Enables easy video calls so your loved ones stay connected to family and friends, strengthening bonds and lifting their spirits.</p>
        </div>
        <div class="feature-card">
            <h3>Safe Home Environment</h3>
            <p>Monitors home conditions like temperature and smoke levels to prevent potential hazards.</p>
        </div>
    </div>
</section>

<section class="benefits-section">
    <h2>Why Choose Us?</h2>
    <ul>
        <li><strong>Reliable Safety:</strong> Automatic alerts for emergencies and real-time monitoring.</li>
        <li><strong>Effortless Experience:</strong> Designed with a simple, user-friendly interface for seniors.</li>
        <li><strong>Adaptable Features:</strong> Customizable to fit individual needs and preferences.</li>
        <li><strong>Leading Innovation:</strong> Harnessing cutting-edge IoT technology for comprehensive care.</li>
    </ul>
</section>

<section class="call-to-action">
    <h2>Start Protecting Your Loved Ones Today</h2>
    <p>Discover how our IoT solution can make a difference in the lives of your family members.</p>
    <a href="/contact" class="cta-button">Contact Us</a>
</section>
{% endblock %}