{% extends 'base.html' %}
{% load static %}

{% block title %}
    My patients
{% endblock %}

{% block additionalLinks %}
<link rel="stylesheet" href="{% static 'css/patients.css' %}">
<script src="{% static 'js/patients.js' %}"></script>
{% endblock %}

{% block content %}
<div class="patients-wrapper">
    <table id="patients-table">
        <tr id="table-column-name">
            <th>Id</th>
            <th>Name</th>
            <th>Status</th>
            <th>Actions</th>
        </tr>
        {% for patient in page_obj %}
        <tr class="table-row">
            <td>{{ patient.public_id }}</td>
            <td>{{ patient.name }}</td>
            <td>{{ patient.status }}</td>
            <td class="action-column">
                <a class="action-link" href="{% url 'dashboard' patient.public_id %}">
                    <img src="{% static 'images/icons/redirect-light.svg' %}" alt="dashboard" title="dashboard">
                </a>
                <a class="action-link" href="{% url 'calendar' patient.public_id %}">
                    <img src="{% static 'images/icons/calendar-light.svg' %}" alt="calendar">
                </a>
                <a class="action-link" href="{% url 'deletePatient' patient.public_id %}">
                    <img src="{% static 'images/icons/delete-light.svg' %}" alt="delete"  title="delete">
                </a>
            </td>
        </tr>
        {% endfor %}
    </table>
    <button id="add-patient-button" class="access-button">+ add patient</button>
    <div class="pagination">
        {% if page_obj.has_previous %}
        <a href="?page={{ page_obj.previous_page_number }}"><</a>
        {% else %}
        <a href="" class="disable"><</a>
        {% endif %}

        <span>Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</span>

        {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}">></a>
        {% else %}
        <a href="" class="disable">></a>
        {% endif %}
    </div>
</div>
<form id="add-patient" method="post" class="hidden">
    <h2>New Patient</h2>
    <label for="public_id">Internal ID</label>
    <input type="text" name="public_id" id="public_id">
    <label for="ip">IP</label>
    <input type="text" name="ip" id="ip">
    <label for="name">Patient name</label>
    <input type="text" name="name" id="name">
    <label for="sex">Sex</label>
    <input type="text" name="sex" id="sex">
    <label for="age">Age</label>
    <input type="text" name="age" id="age">
    <label for="city">City</label>
    <input type="text" name="city" id="city">
    <div class="buttons">
        <a href="#" id="add-patient-link" class="access-button">Add patient</a>
        <button id="cancel-patient" class="access-button cancel">Cancel</button>
    </div>
</form>
{% endblock %}