{% extends 'base.html' %}
{% load static %}

{% block title %}
    My profile
{% endblock %}

{% block additionalLinks %}
    <link rel="stylesheet" href="{% static 'css/profile.css' %}">
{% endblock %}

{% block content %}
    <div class="profile-wrapper">
        <div class="general-info">
            <img src="{% static 'images/icons/user.jpg' %}" alt="user image">
            <div class="info">
                <table>
                    <tr>
                        <td>Username</td>
                        <td class="value">{{user.username}}</td>
                    </tr>
                    <tr>
                        <td>Email</td>
                        <td class="value">{{user.email}}</td>
                    </tr>
                    <tr>
                        <td>Number of patients</td>
                        <td class="value">{{user.patients.count}}</td>
                    </tr>
                </table>
            </div>
        </div>
        <form method="post">
            {% csrf_token %}
            <div class="custom-configuration">
                <label for="username">username</label>
                <input type="text" id="username" name="username" value="{{user.username}}">
                <label for="email">email</label>
                <input type="text" id="email" name="email" value="{{user.email}}">
                <label for="password">old password</label>
                <input type="password" id="old-password" name="old-password">
                <label for="password">new password</label>
                <input type="password" id="password" name="password">
                <label for="password">repeat new password</label>
                <input type="password" id="password-validation" name="password-validation">
            </div>
            <div class="buttons">
                <button type="submit" class="access-button">Save changes</button>
                <a href="./" class="access-button cancel">Cancel</a>
            </div>
            <a href="./signout" class="access-button signout">Sign out</a>
        </form>
        {% if error %}
            <p class="error-message">{{ error }}</p>
        {% endif %}
    </div>
{% endblock %}