{% extends 'base.html' %}
{% load static %}

{% block title %}
{% endblock %}

{% block additionalLinks %}
<link rel="stylesheet" href="{% static 'css/signin.css' %}">
{% endblock %}

{% block content %}
    <div class="signup-wrapper">
        <form method="post">
            {% csrf_token %}
            <h2>Sign Up</h2>
            <input type="email" class="input" name="email" id="email" placeholder="Email">
            <input type="password" class="input password" name="password" id="password" placeholder="Password">
            {% block inputs %}
            {% endblock %}
        </form>
        {% if error %}
            <p class="error-message">{{ error }}</p>
        {% endif %}
    </div>
{% endblock %}
