{% extends 'signin/baseSignin.html' %}
{% load static %}

{% block title %}
Register
{% endblock %}

{% block inputs %}
    <input type="password" class="input password" name="password_confirm" id="confirm-password" placeholder="Confirm Password">
    <input type="text" class="input" name="username" id="username" placeholder="Username">
    <button type="submit" class="access-button primary">Register</button>
    <p>
        if you already have an account 
        <a href="{% url 'login' %}">login here</a>
    </p>
{% endblock %}
