.patients-wrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1em;
}

#patients-table {
    width: 50vw;
    background-color: var(--table-color-light);
}

td {
    height: 100%;
    margin: .5em 0;
}

.action-column {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
}

#patients-table, th, td {
    border-collapse: collapse;
    text-align: center;
}

#table-column-name {
    background-color: var(--secondary-color-light);
}

#table-column-name th {
    width: 20%;
}

.pagination {
    margin: 1em 0;
    text-align: center;
}

.pagination a {
    padding: 0.5em 1em;
    margin: 0 0.5em;
    text-decoration: none;
    background-color: var(--secondary-color-light);
    color: var(--text-color);
    border-radius: 5px;
    transition: background-color var(--transition-time) var(--transition-type);
}

.pagination a:hover {
    background-color: var(--hover-color-light);
}

.pagination span {
    margin: 0 1em;
    font-weight: bold;
}

.disable {
    pointer-events: none;
    cursor: default;
    background-color: var();
}

.action-link {
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
    height: 100%;
    cursor: default;
}

.action-link img {
    max-width: 30%;
    cursor: pointer;
}

#add-patient {
    background-color: var(--secondary-color-light);
    position: absolute;
    padding: 3em;
    height: 50vh;
    width: 25vw;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 2em;
    border: black 1px solid;
}

.add-patient label, input {
    width: 100%;
}

.access-button {
    text-decoration: none;
    color: black;
    display: inline-block;
    padding: 1em 1em;
    margin: 0 1em;
    background-color: var(--normal-color-light);
    text-align: center;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
    user-select: none;
}

.access-button:visited {
    color: inherit;
}

.access-button:hover {
    background-color: var(--shadow-color-light);
}

.cancel {
    background-color: var(--cancel-color-light);
}

.error-message {
    color: red;
    font-size: 0.9em;
    margin-top: 1em;
}

#add-patient-button {
    padding: .5em .5em;
    margin-top: .5em;
}

.hidden {
    visibility: hidden;
}