{% load static %}

<div class="grid-item">
    <div class="top">
        <h2>{{data.location.name}}, {{data.location.region}}, {{data.location.country}}</h2>
        <h3>updated: {{data.current.last_updated}}</h3>
        <h3>Week forecast</h3>
    </div>
    <div class="middle-forecast">
        <table id="forecast-table">
            {% for day in data.forecast %}
            <tr class="forecast">
                <th>{{ day.date }}</th>
                <td class="condition">
                    <img src="{{ day.day.condition.icon }}" alt="{{ day.condition.text }}">
                    <div>max: {{day.day.maxtemp_c}} Cº</div>
                    <div>min: {{day.day.mintemp_c}} Cº</div>
                </td>
                <td class="wind last">
                    <img src="{% static 'images/icons/wind.png' %}" alt="wind">
                    <div>max: {{day.day.maxwind_kph}} km/h</div>
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
    
</div>